{% extends 'base.html.twig' %}

{% block title %}Rproduits{% endblock %}

{% block body %}
    <h1>Rproduits</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rproduit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ rproduit.Nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ rproduit.Description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ rproduit.Prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_rproduits_index') }}">back to list</a>

    <a href="{{ path('app_admin_rproduits_edit', {'id': rproduit.id}) }}">edit</a>

    {{ include('admin_rproduits/_delete_form.html.twig') }}
{% endblock %}
